.fishmap-admin-rules-table {
    max-width: 700px;
}

.fishmap-admin-add-rule-form {
    display: flex;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
    max-width: 700px;
}
#set_new_relation {
    margin-left: 30px;
}

.fishmap-rule-fish-select-input {
    width: 150px;
}

.fishmap-rule-fish-select-input-fish2,
.fishmap-rule-fish-select-input-rule {
    margin-left: 20px;
}

.fishmap-relations-search-wrapper {
    margin-bottom: 20px;
}

.fishmap-add-new-fish-input-wrapper {
    margin-bottom: 10px;
}

.fishmap-admin-add-new-fish-form {
    border-bottom: 1px solid gray;
    max-width: 500px;
    margin-bottom: 20px;
}
#newsubmit {
    margin-bottom: 10px;
}

.fishmap-admin-add-fish-form-description {
    margin-bottom: 10px;
    margin-top: 20px;
}

.fishmap-admin-update-fish-form-table {
    margin-bottom: 20px;
}

.update-form-description {
    margin-bottom: 10px;
}
#fishmap-fish-table {
    margin-top: 10px;
}