.fishmap-admin-rules-table {
    max-width: 700px;
}

.fishmap-admin-add-rule-form {
    display: flex;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
    max-width: 700px;
}
#set_new_relation {
    margin-left: 30px;
}

.fishmap-rule-fish-select-input {
    width: 150px;
}

.fishmap-rule-fish-select-input-fish2,
.fishmap-rule-fish-select-input-rule {
    margin-left: 20px;
}

.fishmap-relations-search-wrapper {
    margin-bottom: 20px;
}