.fishmap-rule-tables-wrapper {
    display: flex;
}
.fishmap-rule-table-tr  {

}
.fishmap-rule-table-wrapper {
    margin: 5px;
}
.fishmap-selected-fishes-wrapper {
    /*display: flex;*/
    max-width: 100%;
    /*flex-wrap: wrap;*/
    background: rgb(59, 123, 171);
}
.fishmap-selected-second-fish {
    /*border: 1px solid gray;*/
    /*margin-left: 10px;*/

}
.fishmap-selected-first-fish {
    /*border: 1px solid gray;*/
}
.fishmap-selected-second-fish,
.fishmap-selected-first-fish {
    /*min-width: 260px;*/
    padding: 5px 10px;
    background: rgb(59, 123, 171);
    /*max-width: 260px;*/
}
.fishmap-selected-first-fish h3, .fishmap-selected-second-fish h3 {
    /*border-bottom: 1px solid gray;*/
}

.fishmap-sc-selects-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.not-first-select, [name="test-select"] {
    margin: 5px;
}
.fishmap-sc-other-wrapper {
    /*margin-top: 10px;*/
    /*margin-bottom: 30px;*/
}
.fishmap-tank-size-input {
    margin: 5px !important;
    max-width: 240px !important;
    min-width: 240px !important;
}

.fishmap-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    cursor: pointer;
}

.fishmap-tooltip .fishmap-tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #eeeeb4;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the fishmap-tooltip */
    position: absolute;
    z-index: 1;
}

.fishmap-tooltip:hover .fishmap-tooltiptext {
    visibility: visible;
}

.fishmap-tooltip-i {
    color: red;
}

.fishmap-rule-table-tr-tank-warning {
    background: #ffffad !important;
}

.fishmap-rule-tables-table th,
.fishmap-rule-tables-table td {
    border: 0;
}
.fishmap-rule-tables-table th {
    text-align: left;
}
/* TABLE FOR COMPATIBLE */
.fishmap-rule-table-wrapper-compatible thead tr {
    background: rgba(84,84,255,0.5);
    color: white;
}
.fishmap-rule-table-wrapper-compatible tbody tr:nth-child(even) {
    background: rgba(161,161,255, 0.5);
}

.fishmap-rule-table-wrapper-compatible tbody tr:nth-child(odd) {
    background: rgba(135,135,255, 0.5);
}

/* TABLE FOR INCOMPATIBLE */
.fishmap-rule-table-wrapper-incompatible thead tr {
    background: rgba(250,113,113, 0.5);
}
.fishmap-rule-table-wrapper-incompatible tbody tr:nth-child(even) {
    background: rgba(252,162,162, 0.5);
}

.fishmap-rule-table-wrapper-incompatible tbody tr:nth-child(odd) {
    background: rgba(253,187,187,0.5);
}

/* TABLE FOR CAUTION */
.fishmap-rule-table-wrapper-caution thead tr {
    background: rgba(255,152,89,0.5);
}
.fishmap-rule-table-wrapper-caution tbody tr:nth-child(even) {
    background: rgba(255,184,140,0.5);
}

.fishmap-rule-table-wrapper-caution tbody tr:nth-child(odd) {
    background: rgba(255,199,166,0.5);
}
.fishmap-selected-fish-box-item {
    padding: 5px;
    line-height: 24px;

}
p.fishmap-selected-fish-box-item {
    color: white;
}
.fishmap-rule-table-th-icon-wrap {
    display: none;
}
@media only screen and (max-width: 820px) {
    .fishmap-selected-fishes-wrapper {
        /*flex-direction: column;*/
        /*align-items: center;*/
    }
    .fishmap-selected-second-fish {
        margin: 0;
        margin-top: 20px;
    }
    .fishmap-selected-first-fish,
    .fishmap-selected-second-fish {
        /*min-width: 270px;*/
        /*max-width: 270px;*/
    }

    .fishmap-sc-selects-wrapper {
        flex-direction: column;
    }
    .not-first-select {
        margin-left: 0;
        margin-top: 10px;
    }
    .fishmap-rule-tables-wrapper {
        flex-direction: column;
    }
    .fishmap-rule-tables-table tbody {
        display: none;
    }
    .fishmap-rule-tables-table.fishmap-rule-table-active tbody{
        display: table-row-group;
    }

    .fishmap-rule-table-th-title-icon-wrap {
        display: flex;
        justify-content: space-between;
    }
    .fishmap-rule-table-th-icon-wrap {
        display: block;
    }
}

.fishmap-submit-desc-front-wrapper {
    margin: 10px 0 15px;
}

/* tabs */
.fishmap-tabs-content .fishmap-tab-content {
    display: none;
}
.fishmap-tabs-content .fishmap-tab-content.fishmap-tab-content-active {
    display: block;
}

.fishmap-selected-fishes-wrapper .fishmap-tabs-header {
    display: flex;
    background: rgb(138, 201, 245);
}

.fishmap-selected-fishes-wrapper .fishmap-tabs-header-item {
    cursor: pointer;
    padding: 5px 10px;

}
.fishmap-selected-fishes-wrapper .fishmap-tabs-header-item:hover {
    background: rgb(59, 123, 171);
    color: white;

}
.fishmap-selected-fishes-wrapper .fishmap-tabs-header-item.fishmap-tab-header-item-active {
    background: rgb(59, 123, 171);
    color: white;
}


.wp-fishmap-plugin ol {
    counter-reset: li;
    list-style: none;
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.wp-fishmap-plugin ol a {
    position: relative;
    display: block;
    padding: 0.4em 0.4em 0.4em 2em;
    margin: 0.5em 0;
    background: #eeeeee;
    color: #444;
    text-decoration: none;
    border-radius: 0.3em;
    transition: 0.3s ease-out;
    line-height: 26px;
}
.wp-fishmap-plugin ol a:hover {
    background: #E9E4E0;
}
.wp-fishmap-plugin ol a:hover:before {
    transform: rotate(360deg);
}
.wp-fishmap-plugin ol a:before {
    /*content: counter(li);*/
    content: 'i';
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: calc(50% + 1px);
    margin-top: -1.3em;
    background: #f9dd94;
    height: 50px;
    width: 50px;
    line-height: 40px;
    border: 0.3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 50px;
    transition: all 0.3s ease-out;

}
.wp-fishmap-plugin ol a.fishmap-selected-fish-bullet-warning:before {
    /*content: counter(li);*/
    content: 'w';
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: calc(50% + 1px);
    margin-top: -1.3em;
    background: #f99494;
    height: 50px;
    width: 50px;
    line-height: 36px;
    border: 0.3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 50px;
    transition: all 0.3s ease-out;

}

.fishmap-selected-fish-bullet-warning {
    background: #dab6ad !important;
    font-weight: bold;
}

.fishmap-tab-header-item-active h5 {
    color: white !important;
}
.fishmap-tabs-header-item h5 {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 28px;
    line-height: 28px;
}

@media only screen and (max-width: 767px) {
    .fishmap-selected-fishes-wrapper .fishmap-tabs-header {
        flex-direction: column;
    }

}